.steps-content {
  margin-top: 20px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
}

.steps-action {
  margin-top: 24px;
}

.ant-steps-item {
  text-align: left;
}

.content-new {
  padding-top: 170px;
  width: 40%;
  margin: 0 auto;
  min-height: 900px;
}
.box-shadow {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-none {
  display: none;
}

.has-error > .message-err-custom {
  display: block;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}

@media all and (max-width: 768px) {
  .content-new {
    padding-top: 170px;
    width: 85%;
    margin: 0 auto;
  }
}
